{% extends "BaseHeader.jinja" %}

{% block description %}
/**
  * @file {{ filename }}
  * @brief Encoding of custom data types for ISO 15118-2 EXI parser
  *
  **/
{% endblock description %}

{% block includes %}
#include <iso1CustomEXIDatatypes.h>
{% endblock %}

{% block content %}
int encode_iso2EXISchemaInformedElementFragmentGrammar(bitstream_t* stream, struct iso2EXISchemaInformedElementFragmentGrammar* exiElementFrag);
{% endblock %}
